@import "../../../style/components/MpCardCarousel.scss";

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

.two-columns {
  display: flex;
  flex-flow: row nowrap;
  min-height: min(800px, 100vh);
}