
$timing-function: ease-in-out;

.mp {
  &_flip_card {
    $this: &; 
    display: contents;

    &__layer {
      display: inline-block;
      position: relative;
    
      min-height: 10rem;
      min-width: 10rem;
    
      perspective: 1000px;
      transform-style: preserve-3d;
    
      cursor: pointer;

      &__front, 
      &__back {
        backface-visibility: hidden;
        user-select: none;

        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        transition: transform 1s $timing-function;
      }

      &__back {
        transform: rotateY(180deg);
      }
    }
    
    &.mp-vertical {
      #{$this}__layer {
        &__back {
          transform: rotateX(180deg);
        }
      }

      #{$this}__controller:checked {
        + #{$this}__layer {
          #{$this}__layer__front {
            transform: rotateX(-180deg);
          }
  
          #{$this}__layer__back {
            transform: rotate(0);
          }
        }
      } 
    }

    &__controller:checked {
      + #{$this}__layer {
        #{$this}__layer__front {
          transform: rotateY(-180deg);
        }

        #{$this}__layer__back {
          transform: rotate(0);
        }
      }
    }

  }
}