.aw {
  &__wrapper {
    position: relative;
    width: 100%;
    min-height: 800px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 5rem;
    display: grid;
    place-items: center;
    transition: background-image 0.5s ease;
    &::after {
      content: "";

      position: absolute;
      top:0;
      left: 0;
      bottom: 0;
      right: 0;

      backdrop-filter: blur(10px);
    }
  }

  &__card {
    position: relative;
    z-index: 1;
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.5);

    display: flex;
    flex-flow: row nowrap;

    &__img, 
    &__body {
      flex: 1;
    }

    &__img {
      position: relative;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      transition: background-image 0.5s ease;
    }

    &__body {
      padding: 2rem;
      position: relative;
    }
    &__actions {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 1rem;

      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;

      color: white;

      button {
        border: 2px solid white;
        border-radius: 100%;
        margin-inline: .25rem;
        width: 2.5rem;
        height: 2.5rem;
        background: none;
        color: inherit;
        cursor: pointer;

        &:hover {
          background-color: rgba(255, 255, 255, 0.40);
        }

        &:active {
          background-color: rgba(255, 255, 255, 0.55);
          transform: scale(.9);
        }
      }

      .spacer {
        flex: 1;
        border-bottom: 1px solid rgba(255, 255, 255, 0.75);
        margin-inline: 2rem;
      }

      .index {
        font-size: 1.5rem;
      }
    }
  }
}


.aw_carousel_container {
  height: 300px;
  width: 120%;
  overflow: hidden;
  
  position: absolute;
  bottom: 5rem;
  right: 0;
  .aw_carousel {
    display: flex;
    gap: 1rem;
    height: 100%;

    transition: transform 0.5s ease;
    img {
      height: 100%;
      width: 200px;
      border-radius: 20px;
      object-fit: cover;
      cursor: pointer;
      transition: filter  0.3s ease;
      &:hover {
        filter: grayscale(50%);
      }
    }
  }
}