@import "../../../style/components/MpCardCarousel.scss";
@import "../../../style/components/MpFlipCard.scss";

.grid-sample {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.d-flex {
  display: flex;
}

.gap1 {
  gap: 1rem;
}

.mb1 {
  margin-block-end: 1rem;
}
